/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: cyan;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}
$(function() {
  $.get('/getData', function(datum) {
    if(datum=="An error occurred"){
      $('<span></span>').text("Gosh, darnit! " + datum).appendTo('p#deets');      
    } else {
      $('<span></span>').text("Oh, hi " + datum[0] + "! I have that data for you: ").appendTo('p#deets');
      $('<div></div>').text(datum[1][1]).appendTo('p#deets');
      $('p#deets').append('<br /><img src="//chart.googleapis.com/chart?cht=lc&chtt=Data&chs=250x150&chd=t:'+datum[1][1]+'&chxt=x,y&chxs=0,c0c0c0,10,0,lt|1,c0c0c0,10,1,lt&chco=000000" />');
    }
  });
});